Repository gatsby-uc/plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gatsby-uc/stewards, @gatsby-uc/maintainers, @moonmeister

.github/CODEOWNERS:

# Community Files
CODE_OF_CONDUCT.md @gatsby-uc/stewards
CONTRIBUTING.md @gatsby-uc/stewards
GOVERNANCE.md @gatsby-uc/stewards
LICENSE @gatsby-uc/stewards

# Repo Configs
.changeset/* @gatsby-uc/maintainers
.github/* @gatsby-uc/maintainers
.husky/* @gatsby-uc/maintainers
.yarn/* @gatsby-uc/maintainers
.prettierrc.js @gatsby-uc/maintainers
.yarnrc.yml @gatsby-uc/maintainers
renovate.json @gatsby-uc/maintainers

# packages

## gatsby-plugin-fastify
packages/gatsby-plugin-fastify/* @moonmeister

chore: add linting to PR checks
  .github/workflows/validate_pr.yml
Owners: none

some more cleanup
  eslint.config.js
  packages/gatsby-plugin-fastify/src/plugins/404.ts
  packages/gatsby-plugin-fastify/src/plugins/500.ts
  packages/gatsby-plugin-fastify/src/plugins/static.ts
Owners: none

changeset
  .changeset/itchy-comics-press.md
Owners: @gatsby-uc/maintainers

fix formatting
  packages/gatsby-plugin-ackee-tracker/gatsby-browser.js
  packages/gatsby-plugin-ackee-tracker/gatsby-node.js
  packages/gatsby-plugin-fastify/gatsby-node.js
  packages/gatsby-plugin-github-ribbon/gatsby-node.js
  packages/gatsby-plugin-github-ribbon/gatsby-ssr.js
  packages/gatsby-plugin-relative-ci/gatsby-node.js
  packages/gatsby-source-packagist/gatsby-node.js
  packages/gatsby-source-s3/gatsby-node.js
Owners: @moonmeister

fix: testing and cleanup changed obsolete snapshots
  packages/gatsby-plugin-fastify/src/__tests__/__utils__/server.js
  packages/gatsby-plugin-fastify/src/__tests__/plugins/__snapshots__/client-routes.js.snap
Owners: none

Version Packages (#302)
  .changeset/cuddly-plants-decide.md
  .changeset/dirty-toys-teach.md
  .changeset/fifty-colts-film.md
  .changeset/itchy-comics-press.md
  .changeset/silent-terms-peel.md
  .changeset/soft-camels-thank.md
  .changeset/warm-weeks-stare.md
  integration-tests/source-s3/CHANGELOG.md
  integration-tests/source-s3/package.json
  packages/gatsby-plugin-ackee-tracker/CHANGELOG.md
  packages/gatsby-plugin-ackee-tracker/package.json
  packages/gatsby-plugin-fastify/CHANGELOG.md
  packages/gatsby-plugin-fastify/package.json
  packages/gatsby-plugin-github-ribbon/CHANGELOG.md
  packages/gatsby-plugin-github-ribbon/package.json
  packages/gatsby-plugin-readingtime/CHANGELOG.md
  packages/gatsby-plugin-readingtime/package.json
  packages/gatsby-plugin-relative-ci/CHANGELOG.md
  packages/gatsby-plugin-relative-ci/package.json
  packages/gatsby-plugin-vanilla-extract/CHANGELOG.md
  packages/gatsby-plugin-vanilla-extract/package.json
  packages/gatsby-source-appwrite/CHANGELOG.md
  packages/gatsby-source-appwrite/package.json
  packages/gatsby-source-packagist/CHANGELOG.md
  packages/gatsby-source-packagist/package.json
  packages/gatsby-source-s3/CHANGELOG.md
  packages/gatsby-source-s3/package.json
  packages/gatsby-source-supabase/CHANGELOG.md
  packages/gatsby-source-supabase/package.json
Owners: @gatsby-uc/maintainers, @moonmeister

refactor: host redirect codes are handled
  .changeset/gorgeous-panthers-relate.md
  packages/gatsby-plugin-fastify/README.md
  packages/gatsby-plugin-fastify/src/plugins/redirects.ts
Owners: @gatsby-uc/maintainers, @moonmeister

mend
  yarn.lock
Owners: none

chore: swap picomatch=>micromatch for more features
  packages/gatsby-plugin-fastify/package.json
  packages/gatsby-plugin-fastify/src/plugins/static.ts
  yarn.lock
Owners: @moonmeister

wip
  packages/gatsby-plugin-fastify/package.json
  packages/gatsby-plugin-fastify/src/gatsby-node.ts
  packages/gatsby-plugin-fastify/src/gatsby/headerBuilder.ts
  packages/gatsby-plugin-fastify/src/utils/constants.ts
  packages/gatsby-plugin-fastify/src/utils/plugin-data.ts
Owners: @moonmeister

fix: yarn issues
  yarn.lock
Owners: none

feat: redirects respond to all HTTP methods
  .changeset/mean-ghosts-think.md
  packages/gatsby-plugin-fastify/src/plugins/redirects.ts
Owners: @gatsby-uc/maintainers

wip: finalizing headers API design and functionality
  integration-tests/plugin-fastify/gatsby-config.js
  packages/gatsby-plugin-fastify/package.json
  packages/gatsby-plugin-fastify/src/__tests__/plugins/server-routes.js
  packages/gatsby-plugin-fastify/src/gatsby-node.ts
  packages/gatsby-plugin-fastify/src/gatsby/headerBuilder.ts
  packages/gatsby-plugin-fastify/src/plugins/functions.ts
  packages/gatsby-plugin-fastify/src/plugins/static.ts
  packages/gatsby-plugin-fastify/src/utils/config.ts
  packages/gatsby-plugin-fastify/src/utils/constants.ts
  packages/gatsby-plugin-fastify/src/utils/headers.ts
  yarn.lock
Owners: @moonmeister

fix: yarn.lock
  packages/gatsby-plugin-fastify/src/gatsby-node.ts
  yarn.lock
Owners: none

fix lock file
  yarn.lock
Owners: none

fix: fix component headers
  packages/gatsby-plugin-fastify/src/gatsby/headerBuilder.ts
Owners: none

fix those checksums
  yarn.lock
Owners: none

fix add picomatch back
  packages/gatsby-plugin-fastify/package.json
  yarn.lock
Owners: @moonmeister

remove micromatch
  packages/gatsby-plugin-fastify/package.json
  yarn.lock
Owners: @moonmeister

revert eroneous changes
  packages/gatsby-plugin-fastify/src/plugins/functions.ts
  packages/gatsby-plugin-fastify/src/plugins/static.ts
Owners: none

revert another
  packages/gatsby-plugin-fastify/src/plugins/static.ts
Owners: none

fix and run prettier
  .prettierignore
  packages/gatsby-plugin-fastify/src/gatsby-node.ts
  packages/gatsby-plugin-fastify/src/gatsby/header-builder.ts
  packages/gatsby-plugin-fastify/src/utils/plugin-data.ts
Owners: none

misc cleanup and making things more consistent
  packages/gatsby-plugin-fastify/src/__tests__/plugins/reverse-proxy.js
  packages/gatsby-plugin-fastify/src/__tests__/plugins/server-routes.js
  packages/gatsby-plugin-fastify/src/utils/headers.ts
Owners: none

final static fix...hopefully
  packages/gatsby-plugin-fastify/src/plugins/static.ts
Owners: none

fix: tests
  integration-tests/plugin-fastify/gatsby-node.ts
  packages/gatsby-plugin-fastify/src/__tests__/plugins/redirects.js
Owners: none

fix(gatsby-plugin-fastify): Update default response codes and handle all HTTP methods for redirects (#306)
  .changeset/gorgeous-panthers-relate.md
  .changeset/mean-ghosts-think.md
  integration-tests/plugin-fastify/gatsby-node.ts
  packages/gatsby-plugin-fastify/README.md
  packages/gatsby-plugin-fastify/src/__tests__/plugins/redirects.js
  packages/gatsby-plugin-fastify/src/plugins/redirects.ts
Owners: @gatsby-uc/maintainers, @moonmeister

Update gorgeous-panthers-relate.md
  .changeset/gorgeous-panthers-relate.md
Owners: @gatsby-uc/maintainers

Version Packages (#307)
  .changeset/gorgeous-panthers-relate.md
  .changeset/mean-ghosts-think.md
  packages/gatsby-plugin-fastify/CHANGELOG.md
  packages/gatsby-plugin-fastify/package.json
Owners: @gatsby-uc/maintainers, @moonmeister

Create many-buses-promise.md
  .changeset/many-buses-promise.md
Owners: @gatsby-uc/maintainers

Create funny-terms-jam.md
  .changeset/funny-terms-jam.md
Owners: @gatsby-uc/maintainers

Create silly-sheep-hunt.md
  .changeset/silly-sheep-hunt.md
Owners: @gatsby-uc/maintainers

Create fuzzy-oranges-brush.md
  .changeset/fuzzy-oranges-brush.md
Owners: @gatsby-uc/maintainers

Version Packages (#314)
  .changeset/funny-terms-jam.md
  .changeset/fuzzy-oranges-brush.md
  .changeset/many-buses-promise.md
  .changeset/silly-sheep-hunt.md
  integration-tests/plugin-fastify/CHANGELOG.md
  integration-tests/plugin-fastify/package.json
  integration-tests/source-s3/CHANGELOG.md
  integration-tests/source-s3/package.json
  packages/gatsby-plugin-ackee-tracker/CHANGELOG.md
  packages/gatsby-plugin-ackee-tracker/package.json
  packages/gatsby-plugin-fastify/CHANGELOG.md
  packages/gatsby-plugin-fastify/package.json
  packages/gatsby-plugin-github-ribbon/CHANGELOG.md
  packages/gatsby-plugin-github-ribbon/package.json
  packages/gatsby-plugin-relative-ci/CHANGELOG.md
  packages/gatsby-plugin-relative-ci/package.json
  packages/gatsby-source-packagist/CHANGELOG.md
  packages/gatsby-source-packagist/package.json
  packages/gatsby-source-s3/CHANGELOG.md
  packages/gatsby-source-s3/package.json
Owners: @gatsby-uc/maintainers, @moonmeister

docs: add @osiux as a contributor
  .all-contributorsrc
  README.md
Owners: none

docs: add @MichaelDeBoey as a contributor
  .all-contributorsrc
  README.md
Owners: none

docs: add @robinske as a contributor
  .all-contributorsrc
  README.md
Owners: none

initial commit pinterest
  packages/gatsby-plugin-pinterest/.babelrc
  packages/gatsby-plugin-pinterest/README.md
  packages/gatsby-plugin-pinterest/jest.config.js
  packages/gatsby-plugin-pinterest/package.json
  packages/gatsby-plugin-pinterest/src/__tests__/gatsby-node.js
  packages/gatsby-plugin-pinterest/src/gatsby-browser.js
  packages/gatsby-plugin-pinterest/src/gatsby-node.js
  yarn.lock
Owners: none

misc updates and formatting
  packages/gatsby-plugin-pinterest/README.md
  packages/gatsby-plugin-pinterest/package.json
  packages/gatsby-plugin-pinterest/src/gatsby-node.js
  yarn.lock
Owners: none

docs: add @osiux as a contributor
  .all-contributorsrc
  README.md
Owners: none

docs: add @MichaelDeBoey as a contributor
  .all-contributorsrc
  README.md
Owners: none
