Repository gatsby-uc/plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gatsby-uc/stewards, @gatsby-uc/maintainers, @moonmeister

add image peer deps
  packages/gatsby-source-strapi/package.json
Owners: none

docs: add @laurenskling as a contributor
  .all-contributorsrc
  README.md
Owners: none

add changeset
  .changeset/fresh-bats-laugh.md
  packages/gatsby-source-strapi/package.json
Owners: none

update the release notes
  .changeset/fresh-bats-laugh.md
Owners: none

add(gatsby-source-strapi): add plugin (#331)
  .all-contributorsrc
  .changeset/fresh-bats-laugh.md
  README.md
  packages/gatsby-source-strapi/.babelrc
  packages/gatsby-source-strapi/README.md
  packages/gatsby-source-strapi/assets/webhook.png
  packages/gatsby-source-strapi/gatsby-node.js
  packages/gatsby-source-strapi/package.json
  packages/gatsby-source-strapi/src/axios-instance.js
  packages/gatsby-source-strapi/src/clean-data.js
  packages/gatsby-source-strapi/src/download-media-files.js
  packages/gatsby-source-strapi/src/fetch.js
  packages/gatsby-source-strapi/src/gatsby-node.js
  packages/gatsby-source-strapi/src/helpers.js
  packages/gatsby-source-strapi/src/normalize.js
  yarn.lock
Owners: none

fix yarn lock
  yarn.lock
Owners: none

fix yarn lock
  yarn.lock
Owners: none

fix yarn lock (#333)
  yarn.lock
Owners: none

Update saved-replies.md
  templates/saved-replies.md
Owners: none

fix formatting
  README.md
  templates/saved-replies.md
Owners: none

Version Packages (#334)
  .changeset/fresh-bats-laugh.md
  packages/gatsby-source-strapi/CHANGELOG.md
  packages/gatsby-source-strapi/package.json
Owners: none

add missing index.js and fix var name
  .changeset/late-points-train.md
  packages/gatsby-source-strapi/index.js
  packages/gatsby-source-strapi/src/fetch.js
Owners: none

ignore the noop file
  eslint.config.js
  packages/gatsby-source-strapi/index.js
Owners: @gatsby-uc/maintainers

feat(gatsby-source-strapi): add httpHeaders
  packages/gatsby-source-strapi/README.md
  packages/gatsby-source-strapi/src/download-media-files.js
Owners: none

fix: remove index fix and add detail to release notes
  .changeset/late-points-train.md
  eslint.config.js
  packages/gatsby-source-strapi/index.js
Owners: @gatsby-uc/maintainers

fix(gatsby-source-strapi): `options_` bug in source-strapi@3.0.0 (#345)
  .changeset/late-points-train.md
  packages/gatsby-source-strapi/src/fetch.js
Owners: none

Version Packages (#350)
  .changeset/late-points-train.md
  packages/gatsby-source-strapi/CHANGELOG.md
  packages/gatsby-source-strapi/package.json
Owners: none

fix: missing index.js for plugins in themes
  eslint.config.js
  packages/gatsby-plugin-ackee-tracker/index.js
  packages/gatsby-plugin-fastify/index.js
  packages/gatsby-plugin-github-ribbon/index.js
  packages/gatsby-plugin-pinterest/index.js
  packages/gatsby-plugin-readingtime/index.js
  packages/gatsby-plugin-relative-ci/index.js
  packages/gatsby-plugin-vanilla-extract/index.js
  packages/gatsby-source-appwrite/index.js
  packages/gatsby-source-packagist/index.js
  packages/gatsby-source-s3/index.js
  packages/gatsby-source-strapi/index.js
  packages/gatsby-source-supabase/index.js
  scripts/gatsby-export-test.mjs
Owners: @gatsby-uc/maintainers, @moonmeister

changeset
  .changeset/late-spiders-raise.md
Owners: none

Update eslint.config.js comment
  eslint.config.js
Owners: @gatsby-uc/maintainers

fix(*): missing index.js (#351)
  .changeset/late-spiders-raise.md
  eslint.config.js
  packages/gatsby-plugin-ackee-tracker/index.js
  packages/gatsby-plugin-fastify/index.js
  packages/gatsby-plugin-github-ribbon/index.js
  packages/gatsby-plugin-pinterest/index.js
  packages/gatsby-plugin-readingtime/index.js
  packages/gatsby-plugin-relative-ci/index.js
  packages/gatsby-plugin-vanilla-extract/index.js
  packages/gatsby-source-appwrite/index.js
  packages/gatsby-source-packagist/index.js
  packages/gatsby-source-s3/index.js
  packages/gatsby-source-strapi/index.js
  packages/gatsby-source-supabase/index.js
  scripts/gatsby-export-test.mjs
Owners: @gatsby-uc/maintainers, @moonmeister

Version Packages (#352)
  .changeset/late-spiders-raise.md
  integration-tests/source-s3/CHANGELOG.md
  integration-tests/source-s3/package.json
  packages/gatsby-plugin-ackee-tracker/CHANGELOG.md
  packages/gatsby-plugin-ackee-tracker/package.json
  packages/gatsby-plugin-fastify/CHANGELOG.md
  packages/gatsby-plugin-fastify/package.json
  packages/gatsby-plugin-github-ribbon/CHANGELOG.md
  packages/gatsby-plugin-github-ribbon/package.json
  packages/gatsby-plugin-pinterest/CHANGELOG.md
  packages/gatsby-plugin-pinterest/package.json
  packages/gatsby-plugin-readingtime/CHANGELOG.md
  packages/gatsby-plugin-readingtime/package.json
  packages/gatsby-plugin-relative-ci/CHANGELOG.md
  packages/gatsby-plugin-relative-ci/package.json
  packages/gatsby-plugin-vanilla-extract/CHANGELOG.md
  packages/gatsby-plugin-vanilla-extract/package.json
  packages/gatsby-source-appwrite/CHANGELOG.md
  packages/gatsby-source-appwrite/package.json
  packages/gatsby-source-packagist/CHANGELOG.md
  packages/gatsby-source-packagist/package.json
  packages/gatsby-source-s3/CHANGELOG.md
  packages/gatsby-source-s3/package.json
  packages/gatsby-source-strapi/CHANGELOG.md
  packages/gatsby-source-strapi/package.json
  packages/gatsby-source-supabase/CHANGELOG.md
  packages/gatsby-source-supabase/package.json
Owners: @moonmeister

chore(gatsby-source-strapi): change the key name
  .changeset/shiny-ties-lick.md
  packages/gatsby-source-strapi/README.md
  packages/gatsby-source-strapi/src/download-media-files.js
Owners: none

chore(gatsby-source-strapi): add customize http headers
  .changeset/shiny-ties-lick.md
  packages/gatsby-source-strapi/README.md
  packages/gatsby-source-strapi/src/download-media-files.js
Owners: none

chore(gatsby-source-strapi): add customize http headers (#353)
  .changeset/shiny-ties-lick.md
  packages/gatsby-source-strapi/README.md
  packages/gatsby-source-strapi/src/download-media-files.js
Owners: none

Version Packages (#354)
  .changeset/shiny-ties-lick.md
  packages/gatsby-source-strapi/CHANGELOG.md
  packages/gatsby-source-strapi/package.json
Owners: none

Create heavy-moons-cross.md
  .changeset/heavy-moons-cross.md
Owners: none

Create thick-shrimps-reply.md
  .changeset/thick-shrimps-reply.md
Owners: none

Create loud-points-decide.md
  .changeset/loud-points-decide.md
Owners: none

fix: missing cs
  .changeset/light-garlics-smile.md
  .changeset/loud-points-decide.md
Owners: none

fix: missing cs (#365)
  .changeset/light-garlics-smile.md
  .changeset/loud-points-decide.md
Owners: none

Version Packages (#363)
  .changeset/heavy-moons-cross.md
  .changeset/light-garlics-smile.md
  .changeset/loud-points-decide.md
  .changeset/thick-shrimps-reply.md
  integration-tests/source-s3/CHANGELOG.md
  integration-tests/source-s3/package.json
  packages/gatsby-plugin-ackee-tracker/CHANGELOG.md
  packages/gatsby-plugin-ackee-tracker/package.json
  packages/gatsby-plugin-fastify/CHANGELOG.md
  packages/gatsby-plugin-fastify/package.json
  packages/gatsby-plugin-github-ribbon/CHANGELOG.md
  packages/gatsby-plugin-github-ribbon/package.json
  packages/gatsby-plugin-pinterest/CHANGELOG.md
  packages/gatsby-plugin-pinterest/package.json
  packages/gatsby-plugin-relative-ci/CHANGELOG.md
  packages/gatsby-plugin-relative-ci/package.json
  packages/gatsby-source-packagist/CHANGELOG.md
  packages/gatsby-source-packagist/package.json
  packages/gatsby-source-s3/CHANGELOG.md
  packages/gatsby-source-s3/package.json
  packages/gatsby-source-strapi/CHANGELOG.md
  packages/gatsby-source-strapi/package.json
Owners: @moonmeister

added alternative local Strapi url
  packages/gatsby-source-strapi/README.md
Owners: none

add initial work from PR #98
  integration-tests/plugin-fastify/gatsby-config.js
  packages/gatsby-plugin-fastify/package.json
  packages/gatsby-plugin-fastify/src/__tests__/plugins/reverse-proxy.js
  packages/gatsby-plugin-fastify/src/__tests__/plugins/server-routes.js
  packages/gatsby-plugin-fastify/src/gatsby-node.ts
  packages/gatsby-plugin-fastify/src/gatsby/header-builder.ts
  packages/gatsby-plugin-fastify/src/utils/config.ts
  packages/gatsby-plugin-fastify/src/utils/constants.ts
  packages/gatsby-plugin-fastify/src/utils/headers.ts
  packages/gatsby-plugin-fastify/src/utils/plugin-data.ts
  yarn.lock
Owners: @moonmeister

Initial commit
  packages/gatsby-source-airtable/LICENSE
  packages/gatsby-source-airtable/README.md
Owners: @gatsby-uc/stewards

add queryName, add TODOs
  packages/gatsby-source-airtable/gatsby-node.js
Owners: none

initial alpha version
  packages/gatsby-source-airtable/gatsby-node.js
  packages/gatsby-source-airtable/index.js
  packages/gatsby-source-airtable/package.json
Owners: none

add readme
  packages/gatsby-source-airtable/README.md
Owners: none

add badge for readme
  packages/gatsby-source-airtable/README.md
Owners: none

Publish 1.0.0-beta.1
  packages/gatsby-source-airtable/package.json
Owners: none

.github/CODEOWNERS:

# Community Files
CODE_OF_CONDUCT.md @gatsby-uc/stewards
CONTRIBUTING.md @gatsby-uc/stewards
GOVERNANCE.md @gatsby-uc/stewards
LICENSE @gatsby-uc/stewards

# Repo Configs
.changeset/config.json @gatsby-uc/maintainers
.github/* @gatsby-uc/maintainers
.husky/* @gatsby-uc/maintainers
.yarn/* @gatsby-uc/maintainers
.prettierrc.js @gatsby-uc/maintainers
eslint.config.js @gatsby-uc/maintainers
tsconfig.json
.yarnrc.yml @gatsby-uc/maintainers
renovate.json @gatsby-uc/maintainers

# packages

## gatsby-plugin-fastify
packages/gatsby-plugin-fastify/* @moonmeister
