Repository gatsby-uc/plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gatsby-uc/stewards, @gatsby-uc/maintainers, @moonmeister

Remove whitespaces in filenames
  packages/gatsby-source-airtable/gatsby-node.js
Owners: none

feat(gatsby-source-strapi): Limit parallel requests to api
  packages/gatsby-source-strapi/README.md
  packages/gatsby-source-strapi/src/fetch.js
Owners: none

feat(gatsby-source-strapi): Add changeset
  .changeset/gatsby-source-strapi-limit-api.md
  packages/gatsby-source-strapi/src/fetch.js
Owners: none

fix(gatsby-source-strapi): value could be in string format
  packages/gatsby-source-strapi/src/download-media-files.js
Owners: none

Create odd-sloths-twist.md
  .changeset/odd-sloths-twist.md
Owners: none

Create orange-fireants-sell.md
  .changeset/orange-fireants-sell.md
Owners: none

Create silver-swans-brake.md
  .changeset/silver-swans-brake.md
Owners: none

Create four-boats-share.md
  .changeset/four-boats-share.md
Owners: none

Create clean-countries-refuse.md
  .changeset/clean-countries-refuse.md
Owners: none

Version Packages (#385)
  .changeset/clean-countries-refuse.md
  .changeset/four-boats-share.md
  .changeset/orange-fireants-sell.md
  .changeset/silver-swans-brake.md
  integration-tests/plugin-fastify/CHANGELOG.md
  integration-tests/plugin-fastify/package.json
  integration-tests/source-s3/CHANGELOG.md
  integration-tests/source-s3/package.json
  packages/gatsby-plugin-ackee-tracker/CHANGELOG.md
  packages/gatsby-plugin-ackee-tracker/package.json
  packages/gatsby-plugin-fastify/CHANGELOG.md
  packages/gatsby-plugin-fastify/package.json
  packages/gatsby-plugin-github-ribbon/CHANGELOG.md
  packages/gatsby-plugin-github-ribbon/package.json
  packages/gatsby-plugin-pinterest/CHANGELOG.md
  packages/gatsby-plugin-pinterest/package.json
  packages/gatsby-plugin-relative-ci/CHANGELOG.md
  packages/gatsby-plugin-relative-ci/package.json
  packages/gatsby-source-airtable/CHANGELOG.md
  packages/gatsby-source-airtable/package.json
  packages/gatsby-source-packagist/CHANGELOG.md
  packages/gatsby-source-packagist/package.json
  packages/gatsby-source-s3/CHANGELOG.md
  packages/gatsby-source-s3/package.json
  packages/gatsby-source-strapi/CHANGELOG.md
  packages/gatsby-source-strapi/package.json
Owners: @moonmeister

chore(gatsby-source-s3): AWS SDK for JavaScript v2 Going Into Maintenance Mode (#386)
  integration-tests/source-s3/gatsby-config.js
  packages/gatsby-source-s3/README.md
  packages/gatsby-source-s3/package.json
  packages/gatsby-source-s3/src/gatsby-node.ts
  yarn.lock
Owners: none

Revert version number for gatsby-source-s3
  packages/gatsby-source-s3/package.json
Owners: none

docs: add @h93xV2 as a contributor
  .all-contributorsrc
  README.md
Owners: none

Add changeset for major version increment of gatsby-source-s3
  .changeset/fuzzy-plants-relate.md
Owners: none

Create .changeset/dirty-days-raise.md
  .changeset/dirty-days-raise.md
Owners: none

Fix tests
  packages/gatsby-source-s3/tests/e2e/main.spec.js
Owners: none

Create .changeset/long-clouds-whisper.md
  .changeset/long-clouds-whisper.md
Owners: none

Version Packages (#388)
  .changeset/dirty-days-raise.md
  .changeset/fuzzy-plants-relate.md
  .changeset/long-clouds-whisper.md
  integration-tests/source-s3/CHANGELOG.md
  integration-tests/source-s3/package.json
  packages/gatsby-source-s3/CHANGELOG.md
  packages/gatsby-source-s3/package.json
Owners: none

add custom headers via options config
  integration-tests/plugin-fastify/gatsby-config.js
  integration-tests/plugin-fastify/src/pages/ssr.js
  integration-tests/plugin-fastify/static/icon.png
  packages/gatsby-plugin-fastify/src/__tests__/plugins/server-routes.js
  packages/gatsby-plugin-fastify/src/__tests__/plugins/static.js
  packages/gatsby-plugin-fastify/src/plugins/server-routes.ts
  packages/gatsby-plugin-fastify/src/plugins/static.ts
  packages/gatsby-plugin-fastify/src/utils/constants.ts
  packages/gatsby-plugin-fastify/src/utils/headers.ts
Owners: none

fix static test
  packages/gatsby-plugin-fastify/src/__tests__/__files__/public/icon.png
  packages/gatsby-plugin-fastify/src/__tests__/__files__/public/manifest.webmanifest
  packages/gatsby-plugin-fastify/src/__tests__/__files__/public/posts/page-2/index.html
  packages/gatsby-plugin-fastify/src/__tests__/plugins/static.js
Owners: none

add initial work from PR #98
  .husky/pre-commit
  integration-tests/plugin-fastify/gatsby-config.js
  packages/gatsby-plugin-fastify/package.json
  packages/gatsby-plugin-fastify/src/__tests__/plugins/reverse-proxy.js
  packages/gatsby-plugin-fastify/src/__tests__/plugins/server-routes.js
  packages/gatsby-plugin-fastify/src/gatsby-node.ts
  packages/gatsby-plugin-fastify/src/gatsby/header-builder.ts
  packages/gatsby-plugin-fastify/src/utils/config.ts
  packages/gatsby-plugin-fastify/src/utils/constants.ts
  packages/gatsby-plugin-fastify/src/utils/headers.ts
  packages/gatsby-plugin-fastify/src/utils/plugin-data.ts
  yarn.lock
Owners: @gatsby-uc/maintainers, @moonmeister

add custom headers via options config
  integration-tests/plugin-fastify/gatsby-config.js
  integration-tests/plugin-fastify/src/pages/ssr.js
  integration-tests/plugin-fastify/static/icon.png
  packages/gatsby-plugin-fastify/src/__tests__/plugins/server-routes.js
  packages/gatsby-plugin-fastify/src/__tests__/plugins/static.js
  packages/gatsby-plugin-fastify/src/plugins/server-routes.ts
  packages/gatsby-plugin-fastify/src/plugins/static.ts
  packages/gatsby-plugin-fastify/src/utils/constants.ts
  packages/gatsby-plugin-fastify/src/utils/headers.ts
Owners: none

fix static test
  packages/gatsby-plugin-fastify/src/__tests__/__files__/public/icon.png
  packages/gatsby-plugin-fastify/src/__tests__/__files__/public/manifest.webmanifest
  packages/gatsby-plugin-fastify/src/__tests__/__files__/public/posts/page-2/index.html
  packages/gatsby-plugin-fastify/src/__tests__/plugins/static.js
Owners: none

work on headers for static files
  packages/gatsby-plugin-fastify/src/plugins/static.ts
  packages/gatsby-plugin-fastify/src/utils/headers.ts
Owners: none

Update yarn.lock
  yarn.lock
Owners: none

add changeset
  .changeset/neat-pans-serve.md
Owners: none

add headers documentation
  packages/gatsby-plugin-fastify/README.md
Owners: @moonmeister

undo husky change
  .husky/pre-commit
Owners: @gatsby-uc/maintainers

add SSR specifics to documentation
  packages/gatsby-plugin-fastify/README.md
Owners: @moonmeister

Update .all-contributorsrc
  .all-contributorsrc
Owners: none

Fixes issue where pagination is used while filter is also active
  packages/gatsby-source-strapi/src/gatsby-node.js
Owners: none

manually run lint-staged scripts
  packages/gatsby-plugin-fastify/README.md
  packages/gatsby-plugin-fastify/src/gatsby/header-builder.ts
  packages/gatsby-plugin-fastify/src/plugins/server-routes.ts
  packages/gatsby-plugin-fastify/src/plugins/static.ts
  packages/gatsby-plugin-fastify/src/utils/constants.ts
  packages/gatsby-plugin-fastify/src/utils/headers.ts
  packages/gatsby-plugin-fastify/src/utils/plugin-data.ts
Owners: @moonmeister

fix linting issues
  packages/gatsby-plugin-fastify/src/gatsby/header-builder.ts
Owners: none

fix validate types issues
  packages/gatsby-plugin-fastify/src/gatsby/header-builder.ts
  packages/gatsby-plugin-fastify/src/utils/config.ts
  packages/gatsby-plugin-fastify/src/utils/headers.ts
Owners: none

Update Strapi README
  packages/gatsby-source-strapi/README.md
Owners: none

Create .changeset/spotty-buses-cheer.md
  .changeset/spotty-buses-cheer.md
Owners: none

feat(gatsby-source-strapi): add request throttling support
  .changeset/late-waves-grin.md
  packages/gatsby-source-strapi/README.md
  packages/gatsby-source-strapi/src/axios-instance.js
  packages/gatsby-source-strapi/src/download-media-files.js
  packages/gatsby-source-strapi/src/fetch.js
  packages/gatsby-source-strapi/src/gatsby-node.js
Owners: none

chore(gatsby-source-strapi): reduce interval
  packages/gatsby-source-strapi/src/axios-instance.js
Owners: none

refactor into headers plugin with hooks/decorators
  .changeset/neat-pans-serve.md
  integration-tests/plugin-fastify/gatsby-config.js
  integration-tests/plugin-fastify/package.json
  packages/gatsby-plugin-fastify/README.md
  packages/gatsby-plugin-fastify/package.json
  packages/gatsby-plugin-fastify/src/__tests__/__files__/public/webpack.stats.json
  packages/gatsby-plugin-fastify/src/__tests__/__snapshots__/gatsby-node.js.snap
  packages/gatsby-plugin-fastify/src/__tests__/gatsby-node.js
  packages/gatsby-plugin-fastify/src/__tests__/plugins/headers.js
  packages/gatsby-plugin-fastify/src/__tests__/plugins/server-routes.js
  packages/gatsby-plugin-fastify/src/__tests__/plugins/static.js
  packages/gatsby-plugin-fastify/src/gatsby-node.ts
  packages/gatsby-plugin-fastify/src/gatsby/header-builder.ts
  packages/gatsby-plugin-fastify/src/plugins/decorators.ts
  packages/gatsby-plugin-fastify/src/plugins/gatsby.ts
  packages/gatsby-plugin-fastify/src/plugins/headers.ts
  packages/gatsby-plugin-fastify/src/plugins/server-routes.ts
  packages/gatsby-plugin-fastify/src/plugins/static.ts
  packages/gatsby-plugin-fastify/src/utils/config.ts
  packages/gatsby-plugin-fastify/src/utils/constants.ts
  packages/gatsby-plugin-fastify/src/utils/headers.ts
Owners: @moonmeister

Create .changeset/warm-cooks-rush.md
  .changeset/warm-cooks-rush.md
Owners: none

.github/CODEOWNERS:

# Community Files
CODE_OF_CONDUCT.md @gatsby-uc/stewards
CONTRIBUTING.md @gatsby-uc/stewards
GOVERNANCE.md @gatsby-uc/stewards
LICENSE @gatsby-uc/stewards

# Repo Configs
.changeset/config.json @gatsby-uc/maintainers
.github/* @gatsby-uc/maintainers
.husky/* @gatsby-uc/maintainers
.yarn/* @gatsby-uc/maintainers
.prettierrc.js @gatsby-uc/maintainers
eslint.config.js @gatsby-uc/maintainers
tsconfig.json
.yarnrc.yml @gatsby-uc/maintainers
renovate.json @gatsby-uc/maintainers

# packages

## gatsby-plugin-fastify
packages/gatsby-plugin-fastify/* @moonmeister
