Repository gatsby-uc/plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gatsby-uc/stewards, @gatsby-uc/maintainers, @moonmeister

.github/CODEOWNERS:

# Community Files
CODE_OF_CONDUCT.md @gatsby-uc/stewards
CONTRIBUTING.md @gatsby-uc/stewards
GOVERNANCE.md @gatsby-uc/stewards
LICENSE @gatsby-uc/stewards

# Repo Configs
.changeset/config.json @gatsby-uc/maintainers
.github/* @gatsby-uc/maintainers
.husky/* @gatsby-uc/maintainers
.yarn/* @gatsby-uc/maintainers
.prettierrc.js @gatsby-uc/maintainers
eslint.config.js @gatsby-uc/maintainers
tsconfig.json
.yarnrc.yml @gatsby-uc/maintainers
renovate.json @gatsby-uc/maintainers

# packages

## gatsby-plugin-fastify
packages/gatsby-plugin-fastify/* @moonmeister

chore(repo): implement Checks for Gatsby re-exports (#319)
  .changeset/fluffy-mirrors-begin.md
  .github/workflows/validate_pr.yml
  .yarn/releases/yarn-3.1.0-rc.12.cjs
  package.json
  packages/gatsby-plugin-fastify/gatsby-node.js
  scripts/gatsby-export-test.mjs
  yarn.lock
Owners: @moonmeister

initial implementation and start or tests
  packages/gatsby-plugin-fastify/README.md
  packages/gatsby-plugin-fastify/package.json
  packages/gatsby-plugin-fastify/src/__tests__/__snapshots__/gatsby-node.js.snap
  packages/gatsby-plugin-fastify/src/__tests__/gatsby-node.js
  packages/gatsby-plugin-fastify/src/__tests__/plugins/404.js
  packages/gatsby-plugin-fastify/src/__tests__/utils/routes.ts
  packages/gatsby-plugin-fastify/src/gatsby-node.ts
  packages/gatsby-plugin-fastify/src/gatsby/client-side-route.ts
  packages/gatsby-plugin-fastify/src/gatsby/server-routes.ts
  packages/gatsby-plugin-fastify/src/gatsby/trailing-slash.ts
  packages/gatsby-plugin-fastify/src/plugins/404.ts
  packages/gatsby-plugin-fastify/src/plugins/gatsby.ts
  packages/gatsby-plugin-fastify/src/serve.ts
  packages/gatsby-plugin-fastify/src/utils/config.ts
  packages/gatsby-plugin-fastify/src/utils/routes.ts
  yarn.lock
Owners: @moonmeister

changeset
  .changeset/unlucky-pumas-carry.md
Owners: none

backwards compat with v4
  packages/gatsby-plugin-fastify/src/serve.ts
Owners: none

fix cloud build
  integration-tests/plugin-fastify/package.json
Owners: none

wip
  packages/gatsby-plugin-fastify/src/__tests__/plugins/client-routes.js
  packages/gatsby-plugin-fastify/src/__tests__/plugins/static.js
  packages/gatsby-plugin-fastify/src/plugins/404.ts
  packages/gatsby-plugin-fastify/src/plugins/client-routes.ts
  packages/gatsby-plugin-fastify/src/plugins/decorators.ts
  packages/gatsby-plugin-fastify/src/plugins/gatsby.ts
  packages/gatsby-plugin-fastify/src/utils/routes.ts
Owners: none

add(gatsby-plugin-pinterest): add plugin (#318)
  .changeset/green-shirts-look.md
  packages/gatsby-plugin-pinterest/.babelrc
  packages/gatsby-plugin-pinterest/README.md
  packages/gatsby-plugin-pinterest/gatsby-browser.js
  packages/gatsby-plugin-pinterest/gatsby-node.js
  packages/gatsby-plugin-pinterest/jest.config.js
  packages/gatsby-plugin-pinterest/package.json
  packages/gatsby-plugin-pinterest/src/__tests__/gatsby-node.js
  packages/gatsby-plugin-pinterest/src/gatsby-browser.js
  packages/gatsby-plugin-pinterest/src/gatsby-node.js
  yarn.lock
Owners: none

Version Packages (#320)
  .changeset/fluffy-mirrors-begin.md
  .changeset/green-shirts-look.md
  packages/gatsby-plugin-fastify/CHANGELOG.md
  packages/gatsby-plugin-fastify/package.json
  packages/gatsby-plugin-pinterest/CHANGELOG.md
  packages/gatsby-plugin-pinterest/package.json
Owners: @moonmeister

implement feature
  .changeset/violet-bags-pretend.md
  .prettierignore
  packages/gatsby-plugin-fastify/README.md
  packages/gatsby-plugin-fastify/src/gatsby-node.ts
  packages/gatsby-plugin-fastify/src/serve.ts
  packages/gatsby-plugin-fastify/src/utils/config.ts
Owners: @moonmeister

finish removing pretty print
  .changeset/violet-bags-pretend.md
  packages/gatsby-plugin-fastify/package.json
  yarn.lock
Owners: @moonmeister

cleanup console logs
  packages/gatsby-plugin-fastify/src/cli.ts
  scripts/gatsby-export-test.mjs
Owners: none

update test config
  packages/gatsby-plugin-fastify/src/__tests__/__utils__/config.js
Owners: none

tests: fix
  packages/gatsby-plugin-fastify/src/__tests__/__utils__/config.js
Owners: none

feat(gatsby-plugin-fastify): Fastify Options (#321)
  .changeset/violet-bags-pretend.md
  .prettierignore
  packages/gatsby-plugin-fastify/README.md
  packages/gatsby-plugin-fastify/package.json
  packages/gatsby-plugin-fastify/src/__tests__/__utils__/config.js
  packages/gatsby-plugin-fastify/src/cli.ts
  packages/gatsby-plugin-fastify/src/gatsby-node.ts
  packages/gatsby-plugin-fastify/src/serve.ts
  packages/gatsby-plugin-fastify/src/utils/config.ts
  scripts/gatsby-export-test.mjs
  yarn.lock
Owners: @moonmeister

add commands to fix fastify test site gatsby deploy for testing
  integration-tests/plugin-fastify/package.json
Owners: none

update readme to include logLevel
  packages/gatsby-plugin-fastify/README.md
Owners: @moonmeister

chore: refactor tests
  packages/gatsby-plugin-fastify/src/__tests__/utils/routes.ts
Owners: none

misc cleanup
  packages/gatsby-plugin-fastify/src/plugins/decorators.ts
  packages/gatsby-plugin-fastify/src/plugins/gatsby.ts
Owners: none

remove unneeded
  packages/gatsby-plugin-fastify/src/__tests__/utils/routes.ts
Owners: none

fix: correctly set trailingSlashConfig
  packages/gatsby-plugin-fastify/src/utils/server.ts
Owners: none

wip
  .changeset/violet-bags-pretend.md
Owners: none

wip
  packages/gatsby-plugin-fastify/src/__tests__/plugins/404.js
  packages/gatsby-plugin-fastify/src/__tests__/plugins/client-routes.js
  packages/gatsby-plugin-fastify/src/__tests__/plugins/server-routes.js
  packages/gatsby-plugin-fastify/src/__tests__/plugins/static.js
  packages/gatsby-plugin-fastify/src/__tests__/utils/routes.ts
  packages/gatsby-plugin-fastify/src/plugins/404.ts
  packages/gatsby-plugin-fastify/src/plugins/client-routes.ts
  packages/gatsby-plugin-fastify/src/plugins/server-routes.ts
  packages/gatsby-plugin-fastify/src/utils/routes.ts
Owners: none

changes to help make tests more consistent with config
  packages/gatsby-plugin-fastify/src/__tests__/__utils__/config.js
  packages/gatsby-plugin-fastify/src/serve.ts
  packages/gatsby-plugin-fastify/src/utils/server.ts
Owners: none

cleanup impl
  packages/gatsby-plugin-fastify/src/utils/server.ts
Owners: none

cleanup change log
  .changeset/violet-bags-pretend.md
Owners: none

remove auto added code
  packages/gatsby-plugin-fastify/src/utils/server.ts
Owners: none

refactor(gatsby-plugin-fastify): Fixes found in pre-release (#325)
  .changeset/violet-bags-pretend.md
  integration-tests/plugin-fastify/package.json
  packages/gatsby-plugin-fastify/README.md
  packages/gatsby-plugin-fastify/src/__tests__/__utils__/config.js
  packages/gatsby-plugin-fastify/src/__tests__/utils/routes.ts
  packages/gatsby-plugin-fastify/src/plugins/decorators.ts
  packages/gatsby-plugin-fastify/src/plugins/gatsby.ts
  packages/gatsby-plugin-fastify/src/serve.ts
  packages/gatsby-plugin-fastify/src/utils/server.ts
Owners: @moonmeister

Version Packages (#322)
  .changeset/violet-bags-pretend.md
  packages/gatsby-plugin-fastify/CHANGELOG.md
  packages/gatsby-plugin-fastify/package.json
Owners: @moonmeister

encode replacements in wildcard redirects
  packages/gatsby-plugin-fastify/src/__tests__/plugins/redirects.js
  packages/gatsby-plugin-fastify/src/utils/routes.ts
Owners: none

add changeset
  .changeset/red-pants-tan.md
Owners: none

encode full replacement URIs in wildcard redirects
  integration-tests/plugin-fastify/gatsby-node.ts
  packages/gatsby-plugin-fastify/src/__tests__/plugins/redirects.js
  packages/gatsby-plugin-fastify/src/plugins/redirects.ts
  packages/gatsby-plugin-fastify/src/utils/routes.ts
Owners: none

fix(gatsby-plugin-fastify): encode replacements in wildcard redirects (#328)
  .changeset/red-pants-tan.md
  integration-tests/plugin-fastify/gatsby-node.ts
  packages/gatsby-plugin-fastify/src/__tests__/plugins/redirects.js
  packages/gatsby-plugin-fastify/src/plugins/redirects.ts
Owners: none

Version Packages (#329)
  .changeset/red-pants-tan.md
  packages/gatsby-plugin-fastify/CHANGELOG.md
  packages/gatsby-plugin-fastify/package.json
Owners: @moonmeister

copy gatsby-source-strapi
  packages/gatsby-source-strapi/.babelrc
  packages/gatsby-source-strapi/.eslintrc.js
  packages/gatsby-source-strapi/.gitignore
  packages/gatsby-source-strapi/.npmignore
  packages/gatsby-source-strapi/.prettierrc.js
  packages/gatsby-source-strapi/LICENSE.md
  packages/gatsby-source-strapi/README.md
  packages/gatsby-source-strapi/assets/webhook.png
  packages/gatsby-source-strapi/gatsby-node.js
  packages/gatsby-source-strapi/index.js
  packages/gatsby-source-strapi/package.json
  packages/gatsby-source-strapi/src/axiosInstance.js
  packages/gatsby-source-strapi/src/clean-data.js
  packages/gatsby-source-strapi/src/download-media-files.js
  packages/gatsby-source-strapi/src/fetch.js
  packages/gatsby-source-strapi/src/gatsby-node.js
  packages/gatsby-source-strapi/src/helpers.js
  packages/gatsby-source-strapi/src/normalize.js
Owners: @gatsby-uc/maintainers

update the yarn lock
  yarn.lock
Owners: none

cleanup
  packages/gatsby-source-strapi/.babelrc
  packages/gatsby-source-strapi/.eslintrc.js
  packages/gatsby-source-strapi/.gitignore
  packages/gatsby-source-strapi/.npmignore
  packages/gatsby-source-strapi/.prettierrc.js
  packages/gatsby-source-strapi/LICENSE.md
  packages/gatsby-source-strapi/gatsby-node.js
  packages/gatsby-source-strapi/index.js
  packages/gatsby-source-strapi/package.json
Owners: @gatsby-uc/maintainers

lint all the things
  packages/gatsby-source-strapi/src/axios-instance.js
  packages/gatsby-source-strapi/src/clean-data.js
  packages/gatsby-source-strapi/src/download-media-files.js
  packages/gatsby-source-strapi/src/fetch.js
  packages/gatsby-source-strapi/src/gatsby-node.js
  packages/gatsby-source-strapi/src/helpers.js
  packages/gatsby-source-strapi/src/normalize.js
Owners: none

match gatsby-source-filesystem with other packages
  packages/gatsby-source-strapi/package.json
Owners: none

fix homepage url
  packages/gatsby-source-strapi/package.json
Owners: none

prettier the readme
  packages/gatsby-source-strapi/README.md
Owners: none
