Repository gatsby-uc/plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gatsby-uc/stewards, @gatsby-uc/maintainers, @moonmeister

.github/CODEOWNERS:

# Community Files
CODE_OF_CONDUCT.md @gatsby-uc/stewards
CONTRIBUTING.md @gatsby-uc/stewards
GOVERNANCE.md @gatsby-uc/stewards
LICENSE @gatsby-uc/stewards

# Repo Configs
.changeset/config.json @gatsby-uc/maintainers
.github/* @gatsby-uc/maintainers
.husky/* @gatsby-uc/maintainers
.yarn/* @gatsby-uc/maintainers
.prettierrc.js @gatsby-uc/maintainers
eslint.config.js @gatsby-uc/maintainers
tsconfig.json
.yarnrc.yml @gatsby-uc/maintainers
renovate.json @gatsby-uc/maintainers

# packages

## gatsby-plugin-fastify
packages/gatsby-plugin-fastify/* @moonmeister

Version Packages (#419)
  .changeset/chilled-emus-deny.md
  .changeset/late-waves-grin.md
  packages/gatsby-source-strapi/CHANGELOG.md
  packages/gatsby-source-strapi/package.json
Owners: none

Update .changeset/dull-terms-shop.md
  .changeset/dull-terms-shop.md
Owners: none

feat(gatsby-source-strapi): upgrade axios to v1 (#411)
  .changeset/dull-terms-shop.md
  packages/gatsby-source-strapi/package.json
  packages/gatsby-source-strapi/src/fetch.js
  yarn.lock
Owners: none

Version Packages (#420)
  .changeset/dull-terms-shop.md
  packages/gatsby-source-strapi/CHANGELOG.md
  packages/gatsby-source-strapi/package.json
Owners: none

fix: homepage in package.json
  CONTRIBUTING.md
  packages/gatsby-plugin-ackee-tracker/package.json
  packages/gatsby-plugin-fastify/package.json
  packages/gatsby-plugin-github-ribbon/package.json
  packages/gatsby-plugin-pinterest/package.json
  packages/gatsby-plugin-relative-ci/package.json
  packages/gatsby-source-airtable/package.json
  packages/gatsby-source-appwrite/package.json
  packages/gatsby-source-packagist/package.json
  packages/gatsby-source-s3/package.json
  packages/gatsby-source-strapi/package.json
Owners: @gatsby-uc/stewards, @moonmeister

Generate patch bump
  packages/gatsby-plugin-relative-ci/package.json
Owners: none

fix: fix #426
  .changeset/fifty-planets-jump.md
  packages/gatsby-source-strapi/src/download-media-files.js
  packages/gatsby-source-strapi/src/gatsby-node.js
Owners: none

missing file
  .changeset/metal-experts-glow.md
Owners: none

fix: linter
  CONTRIBUTING.md
Owners: @gatsby-uc/stewards

fix(packages): homepage links in package.json (#430)
  .changeset/metal-experts-glow.md
  CONTRIBUTING.md
  packages/gatsby-plugin-ackee-tracker/package.json
  packages/gatsby-plugin-fastify/package.json
  packages/gatsby-plugin-github-ribbon/package.json
  packages/gatsby-plugin-pinterest/package.json
  packages/gatsby-plugin-relative-ci/package.json
  packages/gatsby-source-airtable/package.json
  packages/gatsby-source-appwrite/package.json
  packages/gatsby-source-packagist/package.json
  packages/gatsby-source-s3/package.json
  packages/gatsby-source-strapi/package.json
Owners: @gatsby-uc/stewards, @moonmeister

Create fuzzy-cows-work.md
  .changeset/fuzzy-cows-work.md
Owners: none

Create beige-chairs-deliver.md
  .changeset/beige-chairs-deliver.md
Owners: none

Create fast-mirrors-look.md
  .changeset/fast-mirrors-look.md
Owners: none

Create ninety-schools-admire.md
  .changeset/ninety-schools-admire.md
Owners: none

feat(gatsby-source-strapi): link localizations
  .changeset/gorgeous-camels-itch.md
  packages/gatsby-source-strapi/src/clean-data.js
  packages/gatsby-source-strapi/src/normalize.js
Owners: none

fix(gatsby-source-strapi): replace stub nodes
  .changeset/spicy-days-worry.md
  packages/gatsby-source-strapi/src/gatsby-node.js
Owners: none

docs(gatsby-source-strapi): add limitations
  .changeset/giant-grapes-run.md
  packages/gatsby-source-strapi/README.md
Owners: none

fix: expiring todo comments errors
  eslint.config.js
Owners: @gatsby-uc/maintainers

format
  .changeset/rotten-bears-melt.md
Owners: none

Create rotten-bears-melt.md
  .changeset/rotten-bears-melt.md
Owners: none

Version Packages (#435)
  .changeset/beige-chairs-deliver.md
  .changeset/fast-mirrors-look.md
  .changeset/fuzzy-cows-work.md
  .changeset/metal-experts-glow.md
  .changeset/ninety-schools-admire.md
  integration-tests/plugin-fastify/CHANGELOG.md
  integration-tests/plugin-fastify/package.json
  integration-tests/source-s3/CHANGELOG.md
  integration-tests/source-s3/package.json
  packages/gatsby-plugin-ackee-tracker/CHANGELOG.md
  packages/gatsby-plugin-ackee-tracker/package.json
  packages/gatsby-plugin-fastify/CHANGELOG.md
  packages/gatsby-plugin-fastify/package.json
  packages/gatsby-plugin-github-ribbon/CHANGELOG.md
  packages/gatsby-plugin-github-ribbon/package.json
  packages/gatsby-plugin-pinterest/CHANGELOG.md
  packages/gatsby-plugin-pinterest/package.json
  packages/gatsby-plugin-relative-ci/CHANGELOG.md
  packages/gatsby-plugin-relative-ci/package.json
  packages/gatsby-source-airtable/CHANGELOG.md
  packages/gatsby-source-airtable/package.json
  packages/gatsby-source-appwrite/CHANGELOG.md
  packages/gatsby-source-appwrite/package.json
  packages/gatsby-source-packagist/CHANGELOG.md
  packages/gatsby-source-packagist/package.json
  packages/gatsby-source-s3/CHANGELOG.md
  packages/gatsby-source-s3/package.json
  packages/gatsby-source-strapi/CHANGELOG.md
  packages/gatsby-source-strapi/package.json
Owners: @moonmeister

Version Packages (#439)
  .changeset/rotten-bears-melt.md
Owners: none

Update documentation for gatsby-source-airtable API key
  packages/gatsby-source-airtable/README.md
Owners: none

Add change log
  .changeset/dull-items-battle.md
Owners: none

Update contributor profile
  .all-contributorsrc
  README.md
Owners: none

docs(gatsby-source-airtable): API key to access token transition (#445)
  .all-contributorsrc
  .changeset/dull-items-battle.md
  README.md
  packages/gatsby-source-airtable/README.md
Owners: none

Create large-ads-melt.md
  .changeset/large-ads-melt.md
Owners: none

Create slimy-elephants-unite.md
  .changeset/slimy-elephants-unite.md
Owners: none

Version Packages (#446)
  .changeset/dull-items-battle.md
  .changeset/large-ads-melt.md
  .changeset/slimy-elephants-unite.md
  integration-tests/source-s3/CHANGELOG.md
  integration-tests/source-s3/package.json
  packages/gatsby-plugin-ackee-tracker/CHANGELOG.md
  packages/gatsby-plugin-ackee-tracker/package.json
  packages/gatsby-plugin-fastify/CHANGELOG.md
  packages/gatsby-plugin-fastify/package.json
  packages/gatsby-plugin-github-ribbon/CHANGELOG.md
  packages/gatsby-plugin-github-ribbon/package.json
  packages/gatsby-plugin-pinterest/CHANGELOG.md
  packages/gatsby-plugin-pinterest/package.json
  packages/gatsby-plugin-relative-ci/CHANGELOG.md
  packages/gatsby-plugin-relative-ci/package.json
  packages/gatsby-source-airtable/CHANGELOG.md
  packages/gatsby-source-airtable/package.json
  packages/gatsby-source-packagist/CHANGELOG.md
  packages/gatsby-source-packagist/package.json
  packages/gatsby-source-s3/CHANGELOG.md
  packages/gatsby-source-s3/package.json
  packages/gatsby-source-strapi/CHANGELOG.md
  packages/gatsby-source-strapi/package.json
Owners: @moonmeister

Create happy-vans-raise.md
  .changeset/happy-vans-raise.md
Owners: none

WIP: Initial adapter re-write
  packages/gatsby-adapter-fastify/CONTRIBUTING.md
  packages/gatsby-adapter-fastify/README.md
  packages/gatsby-adapter-fastify/logo.png
  packages/gatsby-adapter-fastify/package.json
  packages/gatsby-adapter-fastify/src/cli.ts
  packages/gatsby-adapter-fastify/src/index.ts
  packages/gatsby-adapter-fastify/src/serve.ts
  packages/gatsby-adapter-fastify/src/utils/config.ts
  packages/gatsby-adapter-fastify/src/utils/constants.ts
  packages/gatsby-adapter-fastify/src/utils/server.ts
  packages/gatsby-adapter-fastify/tsconfig.json
  yarn.lock
Owners: @gatsby-uc/stewards

update readme with initial changes and add todos
  packages/gatsby-adapter-fastify/README.md
  packages/gatsby-adapter-fastify/src/utils/config.ts
Owners: none

more cleanup and TODOs
  packages/gatsby-adapter-fastify/README.md
  packages/gatsby-adapter-fastify/src/utils/config.ts
  packages/gatsby-adapter-fastify/src/utils/server.ts
Owners: none

copy missed files
  packages/gatsby-adapter-fastify/.babelrc
  packages/gatsby-adapter-fastify/.npmignore
Owners: none

cleanup and update config types and such
  packages/gatsby-adapter-fastify/README.md
  packages/gatsby-adapter-fastify/src/index.ts
  packages/gatsby-adapter-fastify/src/utils/config.ts
Owners: none

config refinement
  packages/gatsby-adapter-fastify/README.md
  packages/gatsby-adapter-fastify/src/index.ts
  packages/gatsby-adapter-fastify/src/serve.ts
  packages/gatsby-adapter-fastify/src/utils/config.ts
  packages/gatsby-adapter-fastify/src/utils/server.ts
Owners: none

setup static routes handler and gatsby plugin
  integration-tests/adapter-fastify/gatsby-node.ts
  packages/gatsby-adapter-fastify/src/index.ts
  packages/gatsby-adapter-fastify/src/plugins/404.ts
  packages/gatsby-adapter-fastify/src/plugins/500.ts
  packages/gatsby-adapter-fastify/src/plugins/decorators.ts
  packages/gatsby-adapter-fastify/src/plugins/gatsby.ts
  packages/gatsby-adapter-fastify/src/plugins/reverse-proxy.ts
  packages/gatsby-adapter-fastify/src/plugins/static.ts
  packages/gatsby-adapter-fastify/src/utils/config.ts
  packages/gatsby-adapter-fastify/src/utils/headers.ts
Owners: none

dev env setup
  .devcontainer/devcontainer.json
  .vscode/extensions.json
Owners: none

implement dynamic routes
  packages/gatsby-adapter-fastify/src/plugins/dynamic.ts
Owners: none

WIP: static is broken
  packages/gatsby-adapter-fastify/src/plugins/decorators.ts
  packages/gatsby-adapter-fastify/src/plugins/gatsby.ts
  packages/gatsby-adapter-fastify/src/plugins/static.ts
Owners: none
