Repository gatsby-uc/plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gatsby-uc/stewards, @gatsby-uc/maintainers, @moonmeister

.github/CODEOWNERS:

# Community Files
CODE_OF_CONDUCT.md @gatsby-uc/stewards
CONTRIBUTING.md @gatsby-uc/stewards
GOVERNANCE.md @gatsby-uc/stewards
LICENSE @gatsby-uc/stewards

# Repo Configs
.changeset/config.json @gatsby-uc/maintainers
.github/* @gatsby-uc/maintainers
.husky/* @gatsby-uc/maintainers
.yarn/* @gatsby-uc/maintainers
.prettierrc.js @gatsby-uc/maintainers
eslint.config.js @gatsby-uc/maintainers
tsconfig.json
.yarnrc.yml @gatsby-uc/maintainers
renovate.json @gatsby-uc/maintainers

# packages

## gatsby-plugin-fastify
packages/gatsby-plugin-fastify/* @moonmeister

fix: release action
  .github/workflows/release.yml
Owners: none

Create brown-bats-rhyme.md
  .changeset/brown-bats-rhyme.md
Owners: none

Create famous-seahorses-sleep.md
  .changeset/famous-seahorses-sleep.md
Owners: none

Create two-ads-warn.md
  .changeset/two-ads-warn.md
Owners: none

Version Packages (#465)
  .changeset/brown-bats-rhyme.md
  .changeset/famous-seahorses-sleep.md
  .changeset/two-ads-warn.md
  integration-tests/plugin-fastify/CHANGELOG.md
  integration-tests/plugin-fastify/package.json
  integration-tests/source-s3/CHANGELOG.md
  integration-tests/source-s3/package.json
  packages/gatsby-plugin-ackee-tracker/CHANGELOG.md
  packages/gatsby-plugin-ackee-tracker/package.json
  packages/gatsby-plugin-fastify/CHANGELOG.md
  packages/gatsby-plugin-fastify/package.json
  packages/gatsby-plugin-github-ribbon/CHANGELOG.md
  packages/gatsby-plugin-github-ribbon/package.json
  packages/gatsby-plugin-pinterest/CHANGELOG.md
  packages/gatsby-plugin-pinterest/package.json
  packages/gatsby-plugin-relative-ci/CHANGELOG.md
  packages/gatsby-plugin-relative-ci/package.json
  packages/gatsby-source-packagist/CHANGELOG.md
  packages/gatsby-source-packagist/package.json
  packages/gatsby-source-s3/CHANGELOG.md
  packages/gatsby-source-s3/package.json
  packages/gatsby-source-strapi/CHANGELOG.md
  packages/gatsby-source-strapi/package.json
Owners: @moonmeister

fix(server routes): fix path sent to GraphQL engine during DSG/SSR GH-458
  packages/gatsby-plugin-fastify/src/plugins/server-routes.ts
Owners: none

support strapi 5
  .changeset/thick-eggs-admire.md
  eslint.config.js
  packages/gatsby-source-strapi/README.md
  packages/gatsby-source-strapi/src/axios-instance.js
  packages/gatsby-source-strapi/src/clean-data.js
  packages/gatsby-source-strapi/src/fetch.js
  packages/gatsby-source-strapi/src/gatsby-node.js
  packages/gatsby-source-strapi/src/helpers.js
  packages/gatsby-source-strapi/src/normalize.js
Owners: @gatsby-uc/maintainers

support strapi 5 (#478)
  .changeset/thick-eggs-admire.md
  eslint.config.js
  packages/gatsby-source-strapi/README.md
  packages/gatsby-source-strapi/src/axios-instance.js
  packages/gatsby-source-strapi/src/clean-data.js
  packages/gatsby-source-strapi/src/fetch.js
  packages/gatsby-source-strapi/src/gatsby-node.js
  packages/gatsby-source-strapi/src/helpers.js
  packages/gatsby-source-strapi/src/normalize.js
Owners: @gatsby-uc/maintainers

Version Packages (#479)
  .changeset/thick-eggs-admire.md
  packages/gatsby-source-strapi/CHANGELOG.md
  packages/gatsby-source-strapi/package.json
Owners: none

Create tame-ladybugs-run.md
  .changeset/tame-ladybugs-run.md
Owners: none

Create cyan-donuts-bake.md
  .changeset/cyan-donuts-bake.md
Owners: none

Create bright-buckets-matter.md
  .changeset/bright-buckets-matter.md
Owners: none

Create grumpy-rings-wave.md
  .changeset/grumpy-rings-wave.md
Owners: none

chore: update deps and get broken lint rules working
  .changeset/lovely-wombats-relax.md
  .vscode/settings.json
  eslint.config.js
  package.json
  packages/gatsby-plugin-fastify/src/cli.ts
  packages/gatsby-plugin-fastify/src/plugins/redirects.ts
  packages/gatsby-plugin-fastify/src/utils/log.ts
  packages/gatsby-plugin-pinterest/src/gatsby-browser.js
  packages/gatsby-source-packagist/src/gatsby-node.js
  packages/gatsby-source-strapi/src/helpers.js
  yarn.lock
Owners: @gatsby-uc/maintainers

Create flat-colts-knock.md
  .changeset/flat-colts-knock.md
Owners: none

Create beige-bottles-think.md
  .changeset/beige-bottles-think.md
Owners: none

test
  test.txt
Owners: none

test2
  test.txt2
Owners: none

testjs
  test.js
Owners: none

refactor: v9 husky implementation
  .husky/pre-commit
  package.json
  test.js
  test.txt
  test.txt2
Owners: @gatsby-uc/maintainers

Version Packages (#482)
  .changeset/beige-bottles-think.md
  .changeset/bright-buckets-matter.md
  .changeset/cyan-donuts-bake.md
  .changeset/flat-colts-knock.md
  .changeset/grumpy-rings-wave.md
  .changeset/lovely-wombats-relax.md
  .changeset/tame-ladybugs-run.md
  integration-tests/plugin-fastify/CHANGELOG.md
  integration-tests/plugin-fastify/package.json
  integration-tests/source-s3/CHANGELOG.md
  integration-tests/source-s3/package.json
  packages/gatsby-plugin-ackee-tracker/CHANGELOG.md
  packages/gatsby-plugin-ackee-tracker/package.json
  packages/gatsby-plugin-fastify/CHANGELOG.md
  packages/gatsby-plugin-fastify/package.json
  packages/gatsby-plugin-github-ribbon/CHANGELOG.md
  packages/gatsby-plugin-github-ribbon/package.json
  packages/gatsby-plugin-pinterest/CHANGELOG.md
  packages/gatsby-plugin-pinterest/package.json
  packages/gatsby-plugin-relative-ci/CHANGELOG.md
  packages/gatsby-plugin-relative-ci/package.json
  packages/gatsby-source-airtable/CHANGELOG.md
  packages/gatsby-source-airtable/package.json
  packages/gatsby-source-packagist/CHANGELOG.md
  packages/gatsby-source-packagist/package.json
  packages/gatsby-source-s3/CHANGELOG.md
  packages/gatsby-source-s3/package.json
  packages/gatsby-source-strapi/CHANGELOG.md
  packages/gatsby-source-strapi/package.json
Owners: @moonmeister

update yarn.lock
  yarn.lock
Owners: none

expose both documentId and regular id
  packages/gatsby-source-strapi/src/helpers.js
  packages/gatsby-source-strapi/src/normalize.js
Owners: none

default to v5
  packages/gatsby-source-strapi/README.md
  packages/gatsby-source-strapi/src/clean-data.js
  packages/gatsby-source-strapi/src/fetch.js
  packages/gatsby-source-strapi/src/gatsby-node.js
  packages/gatsby-source-strapi/src/helpers.js
Owners: none

add major changelog
  .changeset/three-walls-perform.md
Owners: none

rewrite the changelog to be a direct communication about the changes
  .changeset/three-walls-perform.md
Owners: none

tell strapi 4 users what to do
  .changeset/three-walls-perform.md
Owners: none

feat(gatsby-source-strapi): support strapi_document_id_or_regular_id (#498)
  .changeset/three-walls-perform.md
  packages/gatsby-source-strapi/README.md
  packages/gatsby-source-strapi/src/clean-data.js
  packages/gatsby-source-strapi/src/fetch.js
  packages/gatsby-source-strapi/src/gatsby-node.js
  packages/gatsby-source-strapi/src/helpers.js
  packages/gatsby-source-strapi/src/normalize.js
Owners: none

Version Packages (#499)
  .changeset/three-walls-perform.md
  packages/gatsby-source-strapi/CHANGELOG.md
  packages/gatsby-source-strapi/package.json
Owners: none

reduce the queryLimit to Strapi default 100
  packages/gatsby-source-strapi/src/helpers.js
Owners: none

add changeset
  .changeset/plenty-dolls-knock.md
Owners: none

bug(gatsby-source-strapi): reduce the queryLimit to Strapi default 100 (#500)
  .changeset/plenty-dolls-knock.md
  packages/gatsby-source-strapi/src/helpers.js
Owners: none

Version Packages (#501)
  .changeset/plenty-dolls-knock.md
  packages/gatsby-source-strapi/CHANGELOG.md
  packages/gatsby-source-strapi/package.json
Owners: none

Revert "fix(packages): update non-major dependency versions (#494)"
  packages/gatsby-plugin-github-ribbon/package.json
  packages/gatsby-plugin-pinterest/package.json
  packages/gatsby-plugin-relative-ci/package.json
  packages/gatsby-source-packagist/package.json
  packages/gatsby-source-s3/package.json
  packages/gatsby-source-strapi/package.json
  yarn.lock
Owners: none

Revert "fix(packages): update non-major dependency versions (#494)" (#502)
  packages/gatsby-plugin-github-ribbon/package.json
  packages/gatsby-plugin-pinterest/package.json
  packages/gatsby-plugin-relative-ci/package.json
  packages/gatsby-source-packagist/package.json
  packages/gatsby-source-s3/package.json
  packages/gatsby-source-strapi/package.json
  yarn.lock
Owners: none

Create two-dolls-kick.md
  .changeset/two-dolls-kick.md
Owners: none

chore: simplify renovate config
  renovate.json5
Owners: none

chore: simplify renovate config (#505)
  renovate.json5
Owners: none

Version Packages (#504)
  .changeset/two-dolls-kick.md
  integration-tests/source-s3/CHANGELOG.md
  integration-tests/source-s3/package.json
  packages/gatsby-plugin-github-ribbon/CHANGELOG.md
  packages/gatsby-plugin-github-ribbon/package.json
  packages/gatsby-plugin-pinterest/CHANGELOG.md
  packages/gatsby-plugin-pinterest/package.json
  packages/gatsby-plugin-relative-ci/CHANGELOG.md
  packages/gatsby-plugin-relative-ci/package.json
  packages/gatsby-source-packagist/CHANGELOG.md
  packages/gatsby-source-packagist/package.json
  packages/gatsby-source-s3/CHANGELOG.md
  packages/gatsby-source-s3/package.json
  packages/gatsby-source-strapi/CHANGELOG.md
  packages/gatsby-source-strapi/package.json
Owners: none

Create stale-lemons-fail.md
  .changeset/stale-lemons-fail.md
Owners: none
