Repository gatsby-uc/plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gatsby-uc/stewards, @gatsby-uc/maintainers, @moonmeister

WIP: haven't touched yet
  packages/gatsby-adapter-fastify/src/plugins/redirects.ts
  packages/gatsby-adapter-fastify/src/utils/routes.ts
Owners: none

patch together something working
  integration-tests/adapter-fastify/cypress/e2e/client-only.cy.ts
  packages/gatsby-adapter-fastify/src/index.ts
  packages/gatsby-adapter-fastify/src/plugins/decorators.ts
  packages/gatsby-adapter-fastify/src/plugins/dynamic.ts
  packages/gatsby-adapter-fastify/src/plugins/static.ts
  packages/gatsby-adapter-fastify/src/utils/config.ts
  packages/gatsby-adapter-fastify/src/utils/headers.ts
  packages/gatsby-adapter-fastify/src/utils/routes.ts
  packages/gatsby-plugin-fastify/src/utils/routes.ts
Owners: none

wip
  integration-tests/adapter-fastify/src/pages/index.jsx
  packages/gatsby-adapter-fastify/src/plugins/dynamic.ts
  packages/gatsby-adapter-fastify/src/plugins/gatsby.ts
  packages/gatsby-adapter-fastify/src/utils/config.ts
  packages/gatsby-adapter-fastify/src/utils/routes.ts
Owners: none

fix(gatsby-nodejs): duplicate Dot in File Ext
  packages/gatsby-source-airtable/gatsby-node.js
Owners: none

fix(gatsby-source-airtable): simplifying logic
  packages/gatsby-source-airtable/gatsby-node.js
Owners: none

fix: removed redundant assignments
  packages/gatsby-source-airtable/gatsby-node.js
Owners: none

Create shy-months-build.md
  .changeset/shy-months-build.md
Owners: none

chore: update nvm to latest lts
  .nvmrc
Owners: none

chore: update GH Action runners to latest LTS
  .github/actions/cache-restore/action.yml
  .github/workflows/release.yml
  .github/workflows/validate_pr.yml
Owners: none

chore: update yarn
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.6.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Owners: @gatsby-uc/maintainers

chore: update packages
  package.json
  tsconfig.json
  yarn.lock
Owners: none

chore: lint changes
  packages/gatsby-plugin-fastify/src/utils/routes.ts
Owners: none

chore: remove old tsconfig
  package.json
  yarn.lock
Owners: none

fix: add command to enable corepack on GitHub Actions
  .github/workflows/release.yml
  .github/workflows/validate_pr.yml
Owners: none

fix: enable core pack after cache restore
  .github/workflows/validate_pr.yml
Owners: none

fix: format code
  packages/gatsby-source-airtable/gatsby-node.js
Owners: none

fix: resolve type issues
  packages/gatsby-plugin-fastify/src/plugins/redirects.ts
  packages/gatsby-plugin-fastify/src/utils/headers.ts
Owners: none

Add changeset
  .changeset/chilled-pans-appear.md
Owners: none

chore: update caniuse
  .changeset/chatty-humans-nail.md
  yarn.lock
Owners: none

fix: missing flag for new yarn
  package.json
Owners: none

fix: nested default exports
  packages/gatsby-plugin-fastify/src/plugins/functions.ts
Owners: none

changeset
  .changeset/silver-badgers-march.md
Owners: none

fix: add extended timeout for tests to get them to pass
  packages/gatsby-plugin-fastify/src/__tests__/__utils__/setup-file.js
Owners: none

fix: add returns and change timeout to 10seconds
  packages/gatsby-plugin-fastify/src/__tests__/__utils__/setup-file.js
Owners: none

20 second timeout
  packages/gatsby-plugin-fastify/src/__tests__/__utils__/setup-file.js
Owners: none

fix: try extending timeout
  packages/gatsby-plugin-fastify/src/__tests__/__utils__/setup-file.js
Owners: none

no idea what's happening at this point. trying shit
  .github/workflows/validate_pr.yml
  packages/gatsby-plugin-fastify/src/__tests__/__utils__/setup-file.js
Owners: none

fix deps
  .github/workflows/validate_pr.yml
Owners: none

more things
  packages/gatsby-plugin-fastify/src/__tests__/__utils__/server.js
  packages/gatsby-plugin-fastify/src/__tests__/__utils__/setup-file.js
Owners: none

revert random changes
  .github/workflows/validate_pr.yml
  packages/gatsby-plugin-fastify/src/__tests__/__utils__/server.js
  packages/gatsby-plugin-fastify/src/__tests__/__utils__/setup-file.js
Owners: none

chore: disabling fastify tests cause they're broken and I don't care I just want to update shtuff to replace the plugin
  packages/gatsby-plugin-fastify/package.json
Owners: @moonmeister

Revert "chore: stuff"
  .github/workflows/release.yml
Owners: none

Revert "chore: disabling fastify tests cause they're broken and I don't care I just want to update shtuff to replace the plugin"
  packages/gatsby-plugin-fastify/package.json
Owners: @moonmeister

chore: stuff
  .github/workflows/release.yml
Owners: none

diable tests cause old
  packages/gatsby-plugin-fastify/package.json
Owners: @moonmeister

lock update
  yarn.lock
Owners: none

chore: update dependencies
  integration-tests/adapter-fastify/package.json
  packages/gatsby-adapter-fastify/package.json
  yarn.lock
Owners: none

Create thick-masks-smile.md
  .changeset/thick-masks-smile.md
Owners: none

Create curvy-donuts-share.md
  .changeset/curvy-donuts-share.md
Owners: none

Version Packages (#448)
  .changeset/chatty-humans-nail.md
  .changeset/chilled-pans-appear.md
  .changeset/curvy-donuts-share.md
  .changeset/happy-vans-raise.md
  .changeset/shy-months-build.md
  .changeset/silver-badgers-march.md
  .changeset/thick-masks-smile.md
  integration-tests/plugin-fastify/CHANGELOG.md
  integration-tests/plugin-fastify/package.json
  integration-tests/source-s3/CHANGELOG.md
  integration-tests/source-s3/package.json
  packages/gatsby-plugin-ackee-tracker/CHANGELOG.md
  packages/gatsby-plugin-ackee-tracker/package.json
  packages/gatsby-plugin-fastify/CHANGELOG.md
  packages/gatsby-plugin-fastify/package.json
  packages/gatsby-plugin-github-ribbon/CHANGELOG.md
  packages/gatsby-plugin-github-ribbon/package.json
  packages/gatsby-plugin-pinterest/CHANGELOG.md
  packages/gatsby-plugin-pinterest/package.json
  packages/gatsby-plugin-readingtime/CHANGELOG.md
  packages/gatsby-plugin-readingtime/package.json
  packages/gatsby-plugin-relative-ci/CHANGELOG.md
  packages/gatsby-plugin-relative-ci/package.json
  packages/gatsby-plugin-vanilla-extract/CHANGELOG.md
  packages/gatsby-plugin-vanilla-extract/package.json
  packages/gatsby-source-airtable/CHANGELOG.md
  packages/gatsby-source-airtable/package.json
  packages/gatsby-source-appwrite/CHANGELOG.md
  packages/gatsby-source-appwrite/package.json
  packages/gatsby-source-packagist/CHANGELOG.md
  packages/gatsby-source-packagist/package.json
  packages/gatsby-source-s3/CHANGELOG.md
  packages/gatsby-source-s3/package.json
  packages/gatsby-source-strapi/CHANGELOG.md
  packages/gatsby-source-strapi/package.json
  packages/gatsby-source-supabase/CHANGELOG.md
  packages/gatsby-source-supabase/package.json
Owners: @moonmeister

.github/CODEOWNERS:

# Community Files
CODE_OF_CONDUCT.md @gatsby-uc/stewards
CONTRIBUTING.md @gatsby-uc/stewards
GOVERNANCE.md @gatsby-uc/stewards
LICENSE @gatsby-uc/stewards

# Repo Configs
.changeset/config.json @gatsby-uc/maintainers
.github/* @gatsby-uc/maintainers
.husky/* @gatsby-uc/maintainers
.yarn/* @gatsby-uc/maintainers
.prettierrc.js @gatsby-uc/maintainers
eslint.config.js @gatsby-uc/maintainers
tsconfig.json
.yarnrc.yml @gatsby-uc/maintainers
renovate.json @gatsby-uc/maintainers

# packages

## gatsby-plugin-fastify
packages/gatsby-plugin-fastify/* @moonmeister
