Repository gatsby-uc/plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gatsby-uc/stewards, @gatsby-uc/maintainers, @moonmeister

.github/CODEOWNERS:

# Community Files
CODE_OF_CONDUCT.md @gatsby-uc/stewards
CONTRIBUTING.md @gatsby-uc/stewards
GOVERNANCE.md @gatsby-uc/stewards
LICENSE @gatsby-uc/stewards

# Repo Configs
.changeset/* @gatsby-uc/maintainers
.github/* @gatsby-uc/maintainers
.husky/* @gatsby-uc/maintainers
.yarn/* @gatsby-uc/maintainers
.prettierrc.js @gatsby-uc/maintainers
.yarnrc.yml @gatsby-uc/maintainers
renovate.json @gatsby-uc/maintainers

# packages

## gatsby-plugin-fastify
packages/gatsby-plugin-fastify/* @moonmeister

chore: update implementation
  packages/gatsby-plugin-fastify/constants.js
  packages/gatsby-plugin-fastify/package.json
  packages/gatsby-plugin-fastify/src/gatsby/preloadLinks.ts
  packages/gatsby-plugin-fastify/src/plugins/earlyHintsHook.ts
  packages/gatsby-plugin-fastify/src/plugins/gatsby.ts
  packages/gatsby-plugin-fastify/src/utils/config.ts
  yarn.lock
Owners: @moonmeister

create test cases that should be passing
  integration-tests/plugin-fastify/gatsby-node.ts
  packages/gatsby-plugin-fastify/src/__tests__/plugins/redirects.js
Owners: none

passthrough non-splats found in as is as they don't have a match in
  packages/gatsby-plugin-fastify/src/utils/routes.ts
Owners: none

add changeset
  .changeset/rare-mugs-deny.md
Owners: @gatsby-uc/maintainers

signify `match` is not unused
  packages/gatsby-plugin-fastify/src/utils/routes.ts
Owners: none

ensure * in without matching wildcard in still errors
  integration-tests/plugin-fastify/gatsby-node.ts
  packages/gatsby-plugin-fastify/src/__tests__/plugins/redirects.js
Owners: none

support colons in redirect `toPath`s (#292)
  .changeset/rare-mugs-deny.md
  integration-tests/plugin-fastify/gatsby-node.ts
  packages/gatsby-plugin-fastify/src/__tests__/plugins/redirects.js
  packages/gatsby-plugin-fastify/src/utils/routes.ts
Owners: @gatsby-uc/maintainers

Version Packages (#293)
  .changeset/rare-mugs-deny.md
  packages/gatsby-plugin-fastify/CHANGELOG.md
  packages/gatsby-plugin-fastify/package.json
Owners: @gatsby-uc/maintainers, @moonmeister

initial
  packages/gatsby-plugin-ackee-tracker/package.json
  packages/gatsby-plugin-fastify/package.json
  packages/gatsby-plugin-github-ribbon/package.json
  packages/gatsby-plugin-readingtime/package.json
  packages/gatsby-plugin-relative-ci/README.md
  packages/gatsby-plugin-relative-ci/package.json
  packages/gatsby-plugin-vanilla-extract/package.json
  packages/gatsby-source-packagist/README.md
  packages/gatsby-source-packagist/package.json
  packages/gatsby-source-s3/package.json
  yarn.lock
Owners: @moonmeister

Restore package.json
  packages/gatsby-plugin-fastify/package.json
Owners: @moonmeister

update packages
  packages/gatsby-plugin-ackee-tracker/package.json
  packages/gatsby-plugin-github-ribbon/package.json
  packages/gatsby-plugin-relative-ci/package.json
  packages/gatsby-source-packagist/package.json
  packages/gatsby-source-s3/package.json
Owners: none

update integration tests
  integration-tests/plugin-fastify/gatsby-config.js
  integration-tests/plugin-fastify/package.json
  integration-tests/source-s3/package.json
  yarn.lock
Owners: none

lock file
  yarn.lock
Owners: none

add changesets
  .changeset/chilled-kiwis-drive.md
  .changeset/five-walls-judge.md
  .changeset/nervous-coats-suffer.md
  .changeset/nine-fireants-repair.md
  .changeset/pretty-numbers-love.md
  .changeset/quiet-years-drive.md
  .changeset/stale-bulldogs-exercise.md
Owners: @gatsby-uc/maintainers

revert integration tests
  integration-tests/plugin-fastify/package.json
  integration-tests/source-s3/package.json
Owners: none

deps update
  packages/gatsby-plugin-ackee-tracker/package.json
  packages/gatsby-plugin-github-ribbon/package.json
  packages/gatsby-plugin-relative-ci/package.json
  packages/gatsby-source-packagist/package.json
  packages/gatsby-source-s3/package.json
  yarn.lock
Owners: none

typo
  integration-tests/plugin-fastify/package.json
Owners: none

lock file
  yarn.lock
Owners: none

remove package lock update changelog
  .changeset/calm-chairs-try.md
  README.md
  packages/gatsby-source-appwrite/CHANGELOG.md
  packages/gatsby-source-appwrite/package-lock.json
Owners: @gatsby-uc/maintainers

chore: Update peerDeps (#294)
  .changeset/chilled-kiwis-drive.md
  .changeset/five-walls-judge.md
  .changeset/nervous-coats-suffer.md
  .changeset/nine-fireants-repair.md
  .changeset/pretty-numbers-love.md
  .changeset/quiet-years-drive.md
  .changeset/stale-bulldogs-exercise.md
  integration-tests/plugin-fastify/gatsby-config.js
  integration-tests/plugin-fastify/package.json
  integration-tests/source-s3/package.json
  packages/gatsby-plugin-ackee-tracker/package.json
  packages/gatsby-plugin-github-ribbon/package.json
  packages/gatsby-plugin-readingtime/package.json
  packages/gatsby-plugin-relative-ci/README.md
  packages/gatsby-plugin-relative-ci/package.json
  packages/gatsby-plugin-vanilla-extract/package.json
  packages/gatsby-source-packagist/README.md
  packages/gatsby-source-packagist/package.json
  packages/gatsby-source-s3/package.json
  yarn.lock
Owners: @gatsby-uc/maintainers

Version Packages (#298)
  .changeset/chilled-kiwis-drive.md
  .changeset/five-walls-judge.md
  .changeset/nervous-coats-suffer.md
  .changeset/nine-fireants-repair.md
  .changeset/pretty-numbers-love.md
  .changeset/quiet-years-drive.md
  .changeset/stale-bulldogs-exercise.md
  integration-tests/source-s3/CHANGELOG.md
  integration-tests/source-s3/package.json
  packages/gatsby-plugin-ackee-tracker/CHANGELOG.md
  packages/gatsby-plugin-ackee-tracker/package.json
  packages/gatsby-plugin-github-ribbon/CHANGELOG.md
  packages/gatsby-plugin-github-ribbon/package.json
  packages/gatsby-plugin-readingtime/CHANGELOG.md
  packages/gatsby-plugin-readingtime/package.json
  packages/gatsby-plugin-relative-ci/CHANGELOG.md
  packages/gatsby-plugin-relative-ci/package.json
  packages/gatsby-plugin-vanilla-extract/CHANGELOG.md
  packages/gatsby-plugin-vanilla-extract/package.json
  packages/gatsby-source-packagist/CHANGELOG.md
  packages/gatsby-source-packagist/package.json
  packages/gatsby-source-s3/CHANGELOG.md
  packages/gatsby-source-s3/package.json
Owners: @gatsby-uc/maintainers

docs: add @codercatdev as a contributor
  .all-contributorsrc
  README.md
Owners: none

change package requirement
  packages/gatsby-source-appwrite/README.md
Owners: none

Add new plugin for Appwrite (#269)
  .all-contributorsrc
  .changeset/calm-chairs-try.md
  README.md
  packages/gatsby-source-appwrite/README.md
  packages/gatsby-source-appwrite/gatsby-node.js
  packages/gatsby-source-appwrite/package.json
  yarn.lock
Owners: @gatsby-uc/maintainers

Version Packages (#299)
  .changeset/calm-chairs-try.md
  packages/gatsby-source-appwrite/CHANGELOG.md
  packages/gatsby-source-appwrite/package.json
Owners: @gatsby-uc/maintainers

fix: implement converter from Gatsby FS router to fastify route matcher and handle durring gatsby build instead of individual fastify plugins
  integration-tests/plugin-fastify/src/api/splat/[splat].js
  integration-tests/plugin-fastify/src/api/test1/[splat].js
  integration-tests/plugin-fastify/src/api/wildcard/[...].js
  packages/gatsby-plugin-fastify/README.md
  packages/gatsby-plugin-fastify/src/__tests__/__snapshots__/gatsby-node.js.snap
  packages/gatsby-plugin-fastify/src/__tests__/utils/routes.ts
  packages/gatsby-plugin-fastify/src/gatsby/clientSideRoutes.ts
  packages/gatsby-plugin-fastify/src/gatsby/functionsManifest.ts
  packages/gatsby-plugin-fastify/src/plugins/clientRoutes.ts
  packages/gatsby-plugin-fastify/src/plugins/functions.ts
  packages/gatsby-plugin-fastify/src/plugins/serverRoutes.ts
  packages/gatsby-plugin-fastify/src/utils/log.ts
  packages/gatsby-plugin-fastify/src/utils/routes.ts
Owners: @moonmeister

fix: start using native Gatsby matchPath when available and morph to fit fastify. Fix splat/paramater routes in ssr
  integration-tests/plugin-fastify/src/pages/index.js
  integration-tests/plugin-fastify/src/pages/ssr_named_splat/[...test].js
  integration-tests/plugin-fastify/src/pages/ssr_splat/[...].js
  packages/gatsby-plugin-fastify/src/__tests__/__snapshots__/gatsby-node.js.snap
  packages/gatsby-plugin-fastify/src/__tests__/plugins/serverRoutes.js
  packages/gatsby-plugin-fastify/src/__tests__/utils/routes.ts
  packages/gatsby-plugin-fastify/src/gatsby/serverRoutes.ts
  packages/gatsby-plugin-fastify/src/plugins/serverRoutes.ts
  packages/gatsby-plugin-fastify/src/utils/routes.ts
Owners: none

add cs
  .changeset/stupid-cameras-cry.md
Owners: @gatsby-uc/maintainers

fix(gatsby-plugin-fastify): Fix match path incompatabilities (#300)
  .changeset/stupid-cameras-cry.md
  integration-tests/plugin-fastify/src/api/splat/[splat].js
  integration-tests/plugin-fastify/src/api/test1/[splat].js
  integration-tests/plugin-fastify/src/api/wildcard/[...].js
  integration-tests/plugin-fastify/src/pages/index.js
  integration-tests/plugin-fastify/src/pages/ssr_named_splat/[...test].js
  integration-tests/plugin-fastify/src/pages/ssr_splat/[...].js
  packages/gatsby-plugin-fastify/README.md
  packages/gatsby-plugin-fastify/src/__tests__/__snapshots__/gatsby-node.js.snap
  packages/gatsby-plugin-fastify/src/__tests__/plugins/serverRoutes.js
  packages/gatsby-plugin-fastify/src/__tests__/utils/routes.ts
  packages/gatsby-plugin-fastify/src/gatsby/clientSideRoutes.ts
  packages/gatsby-plugin-fastify/src/gatsby/functionsManifest.ts
  packages/gatsby-plugin-fastify/src/gatsby/serverRoutes.ts
  packages/gatsby-plugin-fastify/src/plugins/clientRoutes.ts
  packages/gatsby-plugin-fastify/src/plugins/functions.ts
  packages/gatsby-plugin-fastify/src/plugins/serverRoutes.ts
  packages/gatsby-plugin-fastify/src/utils/log.ts
  packages/gatsby-plugin-fastify/src/utils/routes.ts
Owners: @gatsby-uc/maintainers, @moonmeister

Version Packages (#301)
  .changeset/stupid-cameras-cry.md
  packages/gatsby-plugin-fastify/CHANGELOG.md
  packages/gatsby-plugin-fastify/package.json
Owners: @gatsby-uc/maintainers, @moonmeister

fix: increase node memory limits
  .github/workflows/validate_pr.yml
Owners: none

chore(repo): node 18 version bumps and testing (#288)
  .changeset/warm-weeks-stare.md
  .github/actions/cache-restore/action.yml
  .github/workflows/release.yml
  .github/workflows/validate_pr.yml
  .nvmrc
  .prettierignore
  package.json
  packages/gatsby-plugin-fastify/package.json
  packages/gatsby-source-s3/cypress.config.js
  packages/gatsby-source-s3/cypress.json
  packages/gatsby-source-s3/package.json
  packages/gatsby-source-supabase/package-lock.json
  tsconfig.json
  yarn.lock
Owners: @gatsby-uc/maintainers, @moonmeister

chore: remove node 14/16 testing as Gatsby 5 Doesn't support it.
  .github/workflows/validate_pr.yml
Owners: none

add cs
  .changeset/cuddly-plants-decide.md
Owners: @gatsby-uc/maintainers

Drop v2/v3 and update other peer deps
  .changeset/dirty-toys-teach.md
  .changeset/silent-terms-peel.md
  .changeset/soft-camels-thank.md
  packages/gatsby-plugin-ackee-tracker/package.json
  packages/gatsby-plugin-fastify/package.json
  packages/gatsby-plugin-readingtime/package.json
  packages/gatsby-plugin-relative-ci/package.json
  packages/gatsby-plugin-vanilla-extract/package.json
  packages/gatsby-source-appwrite/package.json
  packages/gatsby-source-supabase/package.json
Owners: @gatsby-uc/maintainers, @moonmeister

Create fifty-colts-film.md
  .changeset/fifty-colts-film.md
Owners: @gatsby-uc/maintainers

chore: cleanup gitignore files and build into dist folders. Re-exporting as needed for gatsby
  .gitignore
  packages/gatsby-plugin-ackee-tracker/.gitignore
  packages/gatsby-plugin-ackee-tracker/gatsby-browser.js
  packages/gatsby-plugin-ackee-tracker/gatsby-node.js
  packages/gatsby-plugin-ackee-tracker/index.js
  packages/gatsby-plugin-ackee-tracker/package.json
  packages/gatsby-plugin-fastify/.gitignore
  packages/gatsby-plugin-fastify/gatsby-node.js
  packages/gatsby-plugin-fastify/package.json
  packages/gatsby-plugin-github-ribbon/.gitignore
  packages/gatsby-plugin-github-ribbon/gatsby-node.js
  packages/gatsby-plugin-github-ribbon/gatsby-ssr.js
  packages/gatsby-plugin-github-ribbon/index.js
  packages/gatsby-plugin-github-ribbon/package.json
  packages/gatsby-plugin-readingtime/index.js
  packages/gatsby-plugin-readingtime/package.json
  packages/gatsby-plugin-relative-ci/.gitignore
  packages/gatsby-plugin-relative-ci/gatsby-node.js
  packages/gatsby-plugin-relative-ci/index.js
  packages/gatsby-plugin-relative-ci/package.json
  packages/gatsby-plugin-vanilla-extract/index.js
  packages/gatsby-plugin-vanilla-extract/package.json
  packages/gatsby-source-packagist/.gitignore
  packages/gatsby-source-packagist/gatsby-node.js
  packages/gatsby-source-packagist/index.js
  packages/gatsby-source-packagist/package.json
  packages/gatsby-source-s3/.gitignore
  packages/gatsby-source-s3/gatsby-node.js
  packages/gatsby-source-s3/package.json
Owners: @moonmeister

chore: finish JS eslint ocnfig
  eslint.config.js
  package.json
  packages/gatsby-plugin-ackee-tracker/.eslintrc.js
  yarn.lock
Owners: none

Initial eslint fixes
  packages/gatsby-plugin-fastify/jest.config.js
  packages/gatsby-plugin-fastify/package.json
  packages/gatsby-plugin-fastify/src/__tests__/__utils__/config.js
  packages/gatsby-plugin-fastify/src/__tests__/__utils__/server.js
  packages/gatsby-plugin-fastify/src/__tests__/__utils__/setup-file.js
  packages/gatsby-plugin-fastify/src/__tests__/gatsby-node.js
  packages/gatsby-plugin-fastify/src/__tests__/plugins/client-routes.js
  packages/gatsby-plugin-fastify/src/__tests__/plugins/gatsby.js
  packages/gatsby-plugin-fastify/src/__tests__/plugins/reverse-proxy.js
  packages/gatsby-plugin-fastify/src/__tests__/plugins/server-routes.js
  packages/gatsby-plugin-fastify/src/gatsby-node.ts
  packages/gatsby-plugin-fastify/src/gatsby/clientSideRoutes.ts
  packages/gatsby-plugin-fastify/src/gatsby/functionsManifest.ts
  packages/gatsby-plugin-fastify/src/gatsby/proxiesAndRedirects.ts
  packages/gatsby-plugin-fastify/src/plugins/404.ts
  packages/gatsby-plugin-fastify/src/plugins/500.ts
  packages/gatsby-plugin-fastify/src/plugins/client-routes.ts
  packages/gatsby-plugin-fastify/src/plugins/functions.ts
  packages/gatsby-plugin-fastify/src/plugins/gatsby.ts
  packages/gatsby-plugin-fastify/src/plugins/image-transform.ts
  packages/gatsby-plugin-fastify/src/plugins/redirects.ts
  packages/gatsby-plugin-fastify/src/plugins/reverse-proxy.ts
  packages/gatsby-plugin-fastify/src/plugins/server-routes.ts
  packages/gatsby-plugin-fastify/src/plugins/static.ts
  packages/gatsby-plugin-fastify/src/serve.ts
  packages/gatsby-plugin-fastify/src/utils/config.ts
  packages/gatsby-plugin-fastify/src/utils/log.ts
  packages/gatsby-plugin-fastify/src/utils/plugin-data.ts
  packages/gatsby-plugin-fastify/src/utils/routes.ts
  packages/gatsby-plugin-github-ribbon/src/__tests__/common.js
  packages/gatsby-plugin-github-ribbon/src/common.js
  packages/gatsby-plugin-github-ribbon/src/gatsby-node.js
  packages/gatsby-plugin-github-ribbon/src/gatsby-ssr.js
  packages/gatsby-plugin-relative-ci/src/gatsby-node.js
  packages/gatsby-source-appwrite/gatsby-node.js
  packages/gatsby-source-packagist/src/gatsby-node.js
  packages/gatsby-source-s3/src/gatsby-node.ts
  packages/gatsby-source-supabase/gatsby-node.js
Owners: @moonmeister

chore: finish TS linting
  eslint.config.js
  packages/gatsby-plugin-fastify/src/cli.ts
  packages/gatsby-plugin-fastify/src/gatsby-node.ts
  packages/gatsby-plugin-fastify/src/gatsby/client-side-route.ts
  packages/gatsby-plugin-fastify/src/gatsby/funcitons-manifest.ts
  packages/gatsby-plugin-fastify/src/gatsby/proxies-and-redirects.ts
  packages/gatsby-plugin-fastify/src/gatsby/proxiesAndRedirects.ts
  packages/gatsby-plugin-fastify/src/gatsby/server-routes.ts
  packages/gatsby-plugin-fastify/src/plugins/client-routes.ts
  packages/gatsby-plugin-fastify/src/plugins/decorators.ts
  packages/gatsby-plugin-fastify/src/plugins/functions.ts
  packages/gatsby-plugin-fastify/src/plugins/redirects.ts
  packages/gatsby-plugin-fastify/src/plugins/reverse-proxy.ts
  packages/gatsby-plugin-fastify/src/plugins/server-routes.ts
  packages/gatsby-plugin-fastify/src/utils/config.ts
  packages/gatsby-plugin-fastify/src/utils/headers.ts
  packages/gatsby-plugin-fastify/src/utils/log.ts
Owners: none
